@import "tailwindcss";
@import "tailwindcss-animated";

@theme {
  --color-primary: hsl(289, 100%, 79%);
  --color-secondary: hsl(80deg 89% 62%);
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  padding: 0;
}

